a{
    color: black;
    text-decoration: none;
}

.sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(233, 232, 232);
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;
}

@media (min-width: 1920px) {
    .sidebar{
        width: 230px;
    }

    .sidebar-link{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 18px;
        margin-right: 18px;
        border-radius: 15px;
        height: 65px;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .sidebar-link div{
        font-size: 15px;
        flex: 1;
    }

    .sidebar-link img{
        height: 30px;
        margin-right: 18px;
    }
}